@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}
.bg-primary-teal { background-color: #00BFA6; }
.text-primary-teal { color: #00BFA6; }
.border-primary-teal { border-color: #00BFA6; }
.bg-secondary-purple { background-color: #9C27B0; }
.text-secondary-purple { color: #9C27B0; }

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.safe-pb {
  padding-bottom: env(safe-area-inset-bottom, 20px);
}